.promo{
  min-height: 100vh;
  position: relative;
  background: url('../img/main__bg.jpeg') no-repeat 50%/cover;
  padding-top: 205px;
  padding-bottom: 240px;
  &__title{
    width: 535px;
    margin-top: 10px;
  }
  &__subtitle{
    position: relative;
    padding-left: 10px;
    z-index: 1;
    @include before_circle;
  }
  &__btns{
    margin-top: 25px;
    display: flex;
    width: 250px;
    justify-content: space-between;
    align-items: center;
  }
  &__link{
    color: #000;
    font-weight: bold;
    &:hover{
      color: #000;
      text-decoration: none;
    }
  }
 

  
}